<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.3.9

Collecting sqlalchemy==1.3.9
  Downloading SQLAlchemy-1.3.9.tar.gz (6.0 MB)
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB ? eta -:--:--
     ---------------------------------------- 0.0/6.0 MB 667.8 kB/s eta 0:00:09
     ---------------------------------------- 0.0/6.0 MB 667.8 kB/s eta 0:00:09
     ---------------------------------------- 0.1/6.0 MB 328.2 kB/s eta 0:00:18
     ---------------------------------------- 0.1/6.0 MB 328.2 kB/s eta 0:00:18
      --------------------------------------- 0.1/6.0 MB 306.3 kB/s eta 0:00:20
      --------------------------------------- 0.1/6.0 MB 312.2 kB/s eta 0:00:19
      --------------------------------------- 0.1/6.0 MB 327.7 kB/s eta 0:00:18
     - -------------------------------------- 0.2/6.0 MB 378.3 kB/s eta 0:00:16
     - -------------------------------------- 0.2/6.0 MB 406.9 kB/s eta 0:00:15
     - -------------------------------------- 0.2/6.0 MB 402.0 kB/s eta 0:00:15
     - -------------------------------------- 0.2/6.0 MB 402.0 kB/s eta 0:00:15
     - -------------------------------------- 0.2/6.0 MB 402.0 kB/s eta 0:00:15
     - -------------------------------------- 0.2/6.0 MB 336.0 kB/s eta 0:00:18
     - -------------------------------------- 0.3/6.0 MB 349.6 kB/s eta 0:00:17
     - -------------------------------------- 0.3/6.0 MB 370.8 kB/s eta 0:00:16
     - -------------------------------------- 0.3/6.0 MB 354.0 kB/s eta 0:00:17
     -- ------------------------------------- 0.3/6.0 MB 358.6 kB/s eta 0:00:16
     -- ------------------------------------- 0.3/6.0 MB 362.8 kB/s eta 0:00:16
     -- ------------------------------------- 0.4/6.0 MB 371.6 kB/s eta 0:00:16
     -- ------------------------------------- 0.4/6.0 MB 364.2 kB/s eta 0:00:16
     -- ------------------------------------- 0.4/6.0 MB 373.3 kB/s eta 0:00:15
     -- ------------------------------------- 0.4/6.0 MB 381.8 kB/s eta 0:00:15
     -- ------------------------------------- 0.4/6.0 MB 380.0 kB/s eta 0:00:15
     --- ------------------------------------ 0.5/6.0 MB 380.9 kB/s eta 0:00:15
     --- ------------------------------------ 0.5/6.0 MB 395.1 kB/s eta 0:00:14
     --- ------------------------------------ 0.5/6.0 MB 388.6 kB/s eta 0:00:15
     --- ------------------------------------ 0.5/6.0 MB 395.1 kB/s eta 0:00:14
     --- ------------------------------------ 0.5/6.0 MB 393.3 kB/s eta 0:00:14
     --- ------------------------------------ 0.6/6.0 MB 405.2 kB/s eta 0:00:14
     ---- ----------------------------------- 0.6/6.0 MB 408.8 kB/s eta 0:00:14
     ---- ----------------------------------- 0.6/6.0 MB 416.4 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 421.4 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 424.3 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 422.2 kB/s eta 0:00:13
     ---- ----------------------------------- 0.7/6.0 MB 431.0 kB/s eta 0:00:13
     ----- ---------------------------------- 0.8/6.0 MB 437.0 kB/s eta 0:00:12
     ----- ---------------------------------- 0.8/6.0 MB 442.7 kB/s eta 0:00:12
     ----- ---------------------------------- 0.8/6.0 MB 446.4 kB/s eta 0:00:12
     ----- ---------------------------------- 0.8/6.0 MB 451.7 kB/s eta 0:00:12
     ----- ---------------------------------- 0.9/6.0 MB 453.1 kB/s eta 0:00:12
     ------ --------------------------------- 0.9/6.0 MB 454.2 kB/s eta 0:00:12
     ------ --------------------------------- 0.9/6.0 MB 460.8 kB/s eta 0:00:11
     ------ --------------------------------- 0.9/6.0 MB 460.8 kB/s eta 0:00:11
     ------ --------------------------------- 1.0/6.0 MB 451.6 kB/s eta 0:00:12
     ------ --------------------------------- 1.0/6.0 MB 454.6 kB/s eta 0:00:11
     ------ --------------------------------- 1.0/6.0 MB 455.5 kB/s eta 0:00:11
     ------- -------------------------------- 1.0/6.0 MB 459.7 kB/s eta 0:00:11
     ------- -------------------------------- 1.1/6.0 MB 463.8 kB/s eta 0:00:11
     ------- -------------------------------- 1.1/6.0 MB 467.6 kB/s eta 0:00:11
     ------- -------------------------------- 1.1/6.0 MB 478.6 kB/s eta 0:00:11
     ------- -------------------------------- 1.2/6.0 MB 482.2 kB/s eta 0:00:10
     -------- ------------------------------- 1.2/6.0 MB 490.6 kB/s eta 0:00:10
     -------- ------------------------------- 1.3/6.0 MB 493.6 kB/s eta 0:00:10
     -------- ------------------------------- 1.3/6.0 MB 496.5 kB/s eta 0:00:10
     -------- ------------------------------- 1.3/6.0 MB 504.2 kB/s eta 0:00:10
     --------- ------------------------------ 1.4/6.0 MB 506.9 kB/s eta 0:00:10
     --------- ------------------------------ 1.4/6.0 MB 512.4 kB/s eta 0:00:09
     --------- ------------------------------ 1.4/6.0 MB 514.8 kB/s eta 0:00:09
     --------- ------------------------------ 1.5/6.0 MB 520.7 kB/s eta 0:00:09
     ---------- ----------------------------- 1.5/6.0 MB 523.6 kB/s eta 0:00:09
     ---------- ----------------------------- 1.6/6.0 MB 529.4 kB/s eta 0:00:09
     ---------- ----------------------------- 1.6/6.0 MB 534.0 kB/s eta 0:00:09
     ---------- ----------------------------- 1.6/6.0 MB 531.9 kB/s eta 0:00:09
     ---------- ----------------------------- 1.6/6.0 MB 531.7 kB/s eta 0:00:09
     ----------- ---------------------------- 1.6/6.0 MB 529.7 kB/s eta 0:00:09
     ----------- ---------------------------- 1.7/6.0 MB 528.9 kB/s eta 0:00:09
     ----------- ---------------------------- 1.7/6.0 MB 537.1 kB/s eta 0:00:08
     ----------- ---------------------------- 1.8/6.0 MB 545.1 kB/s eta 0:00:08
     ------------ --------------------------- 1.8/6.0 MB 549.3 kB/s eta 0:00:08
     ------------ --------------------------- 1.8/6.0 MB 548.3 kB/s eta 0:00:08
     ------------ --------------------------- 1.9/6.0 MB 553.2 kB/s eta 0:00:08
     ------------- -------------------------- 1.9/6.0 MB 560.5 kB/s eta 0:00:08
     ------------- -------------------------- 2.0/6.0 MB 567.6 kB/s eta 0:00:07
     ------------- -------------------------- 2.0/6.0 MB 574.7 kB/s eta 0:00:07
     ------------- -------------------------- 2.1/6.0 MB 578.1 kB/s eta 0:00:07
     -------------- ------------------------- 2.1/6.0 MB 584.7 kB/s eta 0:00:07
     -------------- ------------------------- 2.2/6.0 MB 589.0 kB/s eta 0:00:07
     -------------- ------------------------- 2.2/6.0 MB 589.6 kB/s eta 0:00:07
     --------------- ------------------------ 2.3/6.0 MB 590.8 kB/s eta 0:00:07
     --------------- ------------------------ 2.3/6.0 MB 599.2 kB/s eta 0:00:07
     --------------- ------------------------ 2.4/6.0 MB 605.1 kB/s eta 0:00:06
     ---------------- ----------------------- 2.4/6.0 MB 611.2 kB/s eta 0:00:06
     ---------------- ----------------------- 2.5/6.0 MB 616.8 kB/s eta 0:00:06
     ---------------- ----------------------- 2.5/6.0 MB 619.8 kB/s eta 0:00:06
     ----------------- ---------------------- 2.6/6.0 MB 630.2 kB/s eta 0:00:06
     ----------------- ---------------------- 2.6/6.0 MB 630.5 kB/s eta 0:00:06
     ----------------- ---------------------- 2.7/6.0 MB 635.7 kB/s eta 0:00:06
     ------------------ --------------------- 2.7/6.0 MB 640.9 kB/s eta 0:00:06
     ------------------ --------------------- 2.8/6.0 MB 645.9 kB/s eta 0:00:05
     ------------------ --------------------- 2.8/6.0 MB 650.7 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 655.4 kB/s eta 0:00:05
     ------------------- -------------------- 2.9/6.0 MB 657.7 kB/s eta 0:00:05
     ------------------- -------------------- 3.0/6.0 MB 666.9 kB/s eta 0:00:05
     -------------------- ------------------- 3.0/6.0 MB 671.3 kB/s eta 0:00:05
     -------------------- ------------------- 3.1/6.0 MB 673.5 kB/s eta 0:00:05
     -------------------- ------------------- 3.1/6.0 MB 675.6 kB/s eta 0:00:05
     -------------------- ------------------- 3.1/6.0 MB 675.6 kB/s eta 0:00:05
     --------------------- ------------------ 3.2/6.0 MB 670.7 kB/s eta 0:00:05
     --------------------- ------------------ 3.2/6.0 MB 666.1 kB/s eta 0:00:05
     --------------------- ------------------ 3.2/6.0 MB 666.2 kB/s eta 0:00:05
     --------------------- ------------------ 3.3/6.0 MB 672.3 kB/s eta 0:00:05
     ---------------------- ----------------- 3.3/6.0 MB 676.4 kB/s eta 0:00:04
     ---------------------- ----------------- 3.4/6.0 MB 682.5 kB/s eta 0:00:04
     ----------------------- ---------------- 3.4/6.0 MB 690.5 kB/s eta 0:00:04
     ----------------------- ---------------- 3.5/6.0 MB 694.1 kB/s eta 0:00:04
     ----------------------- ---------------- 3.6/6.0 MB 697.7 kB/s eta 0:00:04
     ------------------------ --------------- 3.6/6.0 MB 703.3 kB/s eta 0:00:04
     ------------------------ --------------- 3.7/6.0 MB 707.0 kB/s eta 0:00:04
     ------------------------ --------------- 3.7/6.0 MB 710.2 kB/s eta 0:00:04
     ------------------------- -------------- 3.8/6.0 MB 715.7 kB/s eta 0:00:04
     ------------------------- -------------- 3.9/6.0 MB 722.6 kB/s eta 0:00:03
     -------------------------- ------------- 3.9/6.0 MB 725.8 kB/s eta 0:00:03
     -------------------------- ------------- 4.0/6.0 MB 729.1 kB/s eta 0:00:03
     --------------------------- ------------ 4.0/6.0 MB 737.8 kB/s eta 0:00:03
     --------------------------- ------------ 4.1/6.0 MB 742.7 kB/s eta 0:00:03
     ---------------------------- ----------- 4.2/6.0 MB 749.3 kB/s eta 0:00:03
     ---------------------------- ----------- 4.2/6.0 MB 754.0 kB/s eta 0:00:03
     ---------------------------- ----------- 4.3/6.0 MB 756.6 kB/s eta 0:00:03
     ----------------------------- ---------- 4.4/6.0 MB 764.9 kB/s eta 0:00:03
     ----------------------------- ---------- 4.5/6.0 MB 770.9 kB/s eta 0:00:02
     ------------------------------ --------- 4.5/6.0 MB 777.4 kB/s eta 0:00:02
     ------------------------------ --------- 4.6/6.0 MB 777.7 kB/s eta 0:00:02
     ------------------------------ --------- 4.6/6.0 MB 782.3 kB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 782.7 kB/s eta 0:00:02
     ------------------------------- -------- 4.7/6.0 MB 785.5 kB/s eta 0:00:02
     -------------------------------- ------- 4.8/6.0 MB 791.2 kB/s eta 0:00:02
     -------------------------------- ------- 4.9/6.0 MB 796.6 kB/s eta 0:00:02
     --------------------------------- ------ 4.9/6.0 MB 800.5 kB/s eta 0:00:02
     --------------------------------- ------ 5.0/6.0 MB 808.9 kB/s eta 0:00:02
     ---------------------------------- ----- 5.1/6.0 MB 814.7 kB/s eta 0:00:02
     ---------------------------------- ----- 5.2/6.0 MB 819.7 kB/s eta 0:00:01
     ----------------------------------- ---- 5.2/6.0 MB 826.9 kB/s eta 0:00:01
     ----------------------------------- ---- 5.3/6.0 MB 831.7 kB/s eta 0:00:01
     ------------------------------------ --- 5.4/6.0 MB 837.3 kB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 841.8 kB/s eta 0:00:01
     ------------------------------------ --- 5.5/6.0 MB 842.5 kB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 845.3 kB/s eta 0:00:01
     ------------------------------------- -- 5.6/6.0 MB 845.3 kB/s eta 0:00:01
     ------------------------------------- -- 5.7/6.0 MB 849.2 kB/s eta 0:00:01
     -------------------------------------- - 5.7/6.0 MB 853.6 kB/s eta 0:00:01
     ---------------------------------------  5.8/6.0 MB 859.8 kB/s eta 0:00:01
     ---------------------------------------  5.9/6.0 MB 859.3 kB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 867.4 kB/s eta 0:00:01
     ---------------------------------------  6.0/6.0 MB 867.4 kB/s eta 0:00:01
     ---------------------------------------- 6.0/6.0 MB 860.6 kB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (setup.py): started
  Building wheel for sqlalchemy (setup.py): finished with status 'done'
  Created wheel for sqlalchemy: filename=SQLAlchemy-1.3.9-cp311-cp311-win_amd64.whl size=1142949 sha256=97a0ebc9a6ab58c77df936c9a3a5292ab1f46c6d5fcf4b76396d6466c8e3377a
  Stored in directory: c:\users\jmv\appdata\local\pip\cache\wheels\3a\7c\1e\12404784a68083eb969f877a1808a1847bab897684b56ddc55
Successfully built sqlalchemy
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.25
    Uninstalling SQLAlchemy-2.0.25:
      Successfully uninstalled SQLAlchemy-2.0.25
Successfully installed sqlalchemy-1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [3]:
#Please uncomment and execute the code below if you are working locally.

!pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.10.0-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: ipython in d:\anaconda\lib\site-packages (from ipython-sql) (8.20.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.0-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in d:\anaconda\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in d:\anaconda\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in d:\anaconda\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.1)
Requirement already satisfied: decorator in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in d:\anaconda\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in d:\anaconda\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in d:\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in d:\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in d:\anaconda\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading SQLAlchemy-2.0.30-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
    --------------------------------------- 0.0/2.1 MB ? eta -:--:--
   -- ------------------------------------- 0.1/2.1 MB 1.3 MB/s eta 0:00:02
   --- ------------------------------------ 0.2/2.1 MB 1.2 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 1.7 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 1.7 MB/s eta 0:00:02
   ------ --------------------------------- 0.3/2.1 MB 1.7 MB/s eta 0:00:02
   ------- -------------------------------- 0.4/2.1 MB 1.2 MB/s eta 0:00:02
   ------------- -------------------------- 0.7/2.1 MB 1.9 MB/s eta 0:00:01
   --------------- ------------------------ 0.8/2.1 MB 1.9 MB/s eta 0:00:01
   ----------------- ---------------------- 0.9/2.1 MB 2.0 MB/s eta 0:00:01
   ------------------- -------------------- 1.0/2.1 MB 2.1 MB/s eta 0:00:01
   ---------------------- ----------------- 1.2/2.1 MB 2.1 MB/s eta 0:00:01
   ------------------------------- -------- 1.6/2.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 2.7 MB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 2.8 MB/s eta 0:00:00
Downloading prettytable-3.10.0-py3-none-any.whl (28 kB)
Downloading sqlparse-0.5.0-py3-none-any.whl (43 kB)
   ---------------------------------------- 0.0/44.0 kB ? eta -:--:--
   ---------------------------------------- 44.0/44.0 kB 1.1 MB/s eta 0:00:00
Installing collected packages: sqlparse, sqlalchemy, prettytable, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.9
    Uninstalling SQLAlchemy-1.3.9:
      Successfully uninstalled SQLAlchemy-1.3.9
Successfully installed ipython-sql-0.5.0 prettytable-3.10.0 sqlalchemy-2.0.30 sqlparse-0.5.0

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [13]:
!pip install pandas

Requirement already satisfied: pandas in d:\anaconda\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in d:\anaconda\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\anaconda\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in d:\anaconda\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in d:\anaconda\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [4]:
%sql sqlite:///my_data1.db

'Connected: @my_data1.db'

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [7]:
%sql SELECT DISTINCT Launch_Site FROM SPACEXTABLE;

 * sqlite:///my_data1.db
Done.

[('CCAFS LC-40',), ('VAFB SLC-4E',), ('KSC LC-39A',), ('CCAFS SLC-40',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [8]:
%sql SELECT * FROM SPACEXTABLE WHERE Launch_Site LIKE 'CCA%' LIMIT 25;

 * sqlite:///my_data1.db
Done.

[('2010-06-04', '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 ('2010-12-08', '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 ('2012-05-22', '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 ('2012-10-08', '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-03-01', '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 ('2013-12-03', '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt'),
 ('2014-01-06', '22:06:00', 'F9 v1.1', 'CCAFS LC-40', 'Thaicom 6', 3325, 'GTO', 'Thaicom', 'Success', 'No attempt'),
 ('2014-04-18', '19:25:00', 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 ('2014-07-14', '15:15:00', 'F9 v1.1', 'CCAFS LC-40', 'OG2 Mission 1  6 Orbcomm-OG2 satellites', 1316, 'LEO', 'Orbcomm', 'Success', 'Controlled (ocean)'),
 ('2014-08-05', '8:00:00', 'F9 v1.1', 'CCAFS LC-40', 'AsiaSat 8', 4535, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-07', '5:00:00', 'F9 v1.1 B1011', 'CCAFS LC-40', 'AsiaSat 6', 4428, 'GTO', 'AsiaSat', 'Success', 'No attempt'),
 ('2014-09-21', '5:52:00', 'F9 v1.1 B1010', 'CCAFS LC-40', 'SpaceX CRS-4', 2216, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Uncontrolled (ocean)'),
 ('2015-01-10', '9:47:00', 'F9 v1.1 B1012', 'CCAFS LC-40', 'SpaceX CRS-5', 2395, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-02-11', '23:03:00', 'F9 v1.1 B1013', 'CCAFS LC-40', 'DSCOVR', 570, 'HEO', 'U.S. Air Force NASA NOAA', 'Success', 'Controlled (ocean)'),
 ('2015-03-02', '3:50:00', 'F9 v1.1 B1014', 'CCAFS LC-40', 'ABS-3A Eutelsat 115 West B', 4159, 'GTO', 'ABS Eutelsat', 'Success', 'No attempt'),
 ('2015-04-14', '20:10:00', 'F9 v1.1 B1015', 'CCAFS LC-40', 'SpaceX CRS-6', 1898, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Failure (drone ship)'),
 ('2015-04-27', '23:03:00', 'F9 v1.1 B1016', 'CCAFS LC-40', 'Turkmen 52 / MonacoSAT', 4707, 'GTO', 'Turkmenistan National Space Agency', 'Success', 'No attempt'),
 ('2015-06-28', '14:21:00', 'F9 v1.1 B1018', 'CCAFS LC-40', 'SpaceX CRS-7', 1952, 'LEO (ISS)', 'NASA (CRS)', 'Failure (in flight)', 'Precluded (drone ship)'),
 ('2015-12-22', '1:29:00', 'F9 FT B1019', 'CCAFS LC-40', 'OG2 Mission 2  11 Orbcomm-OG2 satellites', 2034, 'LEO', 'Orbcomm', 'Success', 'Success (ground pad)'),
 ('2016-03-04', '23:35:00', 'F9 FT B1020', 'CCAFS LC-40', 'SES-9', 5271, 'GTO', 'SES', 'Success', 'Failure (drone ship)'),
 ('2016-04-08', '20:43:00', 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)'),
 ('2016-05-06', '5:21:00', 'F9 FT B1022', 'CCAFS LC-40', 'JCSAT-14', 4696, 'GTO', 'SKY Perfect JSAT Group', 'Success', 'Success (drone ship)'),
 ('2016-05-27', '21:39:00', 'F9 FT B1023.1', 'CCAFS LC-40', 'Thaicom 8', 3100, 'GTO', 'Thaicom', 'Success', 'Success (drone ship)'),
 ('2016-06-15', '14:29:00', 'F9 FT B1024', 'CCAFS LC-40', 'ABS-2A Eutelsat 117 West B', 3600, 'GTO', 'ABS Eutelsat', 'Success', 'Failure (drone ship)'),
 ('2016-07-18', '4:45:00', 'F9 FT B1025.1', 'CCAFS LC-40', 'SpaceX CRS-9', 2257, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (ground pad)')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [9]:

%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TotalPayloadMass FROM SPACEXTABLE WHERE Customer = 'NASA (CRS)';

 * sqlite:///my_data1.db
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [10]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS AveragePayloadMass FROM SPACEXTABLE WHERE Booster_Version = 'F9 v1.1';

 * sqlite:///my_data1.db
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [11]:
%sql SELECT MIN(Date) AS FirstSuccessfulLandingDate FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (ground pad)';

 * sqlite:///my_data1.db
Done.

[('2015-12-22',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE Landing_Outcome = 'Success (drone ship)' AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * sqlite:///my_data1.db
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [13]:
%sql SELECT Landing_Outcome, COUNT(*) AS TotalCount FROM SPACEXTABLE GROUP BY Landing_Outcome;

 * sqlite:///my_data1.db
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 21),
 ('No attempt ', 1),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [14]:
%sql SELECT Booster_Version FROM SPACEXTABLE WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEXTABLE);

 * sqlite:///my_data1.db
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2 ',),
 ('F9 B5 B1058.3 ',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7 ',)]

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [15]:
%sql SELECT CASE WHEN SUBSTR(Date, 6, 2) = '01' THEN 'January' WHEN SUBSTR(Date, 6, 2) = '02' THEN 'February' WHEN SUBSTR(Date, 6, 2) = '03' THEN 'March' WHEN SUBSTR(Date, 6, 2) = '04' THEN 'April' WHEN SUBSTR(Date, 6, 2) = '05' THEN 'May' WHEN SUBSTR(Date, 6, 2) = '06' THEN 'June' WHEN SUBSTR(Date, 6, 2) = '07' THEN 'July' WHEN SUBSTR(Date, 6, 2) = '08' THEN 'August' WHEN SUBSTR(Date, 6, 2) = '09' THEN 'September' WHEN SUBSTR(Date, 6, 2) = '10' THEN 'October' WHEN SUBSTR(Date, 6, 2) = '11' THEN 'November' WHEN SUBSTR(Date, 6, 2) = '12' THEN 'December' END AS MonthName, Landing_Outcome, Booster_Version, Launch_Site FROM SPACEXTABLE WHERE SUBSTR(Date, 0, 5) = '2015' AND Landing_Outcome LIKE '%Failure (drone ship)%';

 * sqlite:///my_data1.db
Done.

[('January', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('April', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [20]:
start_date = '2010-06-04'
end_date = '2017-03-20'
mask = (df['Date'] >= start_date) & (df['Date'] <= end_date)
filtered_data = df[mask]

# Count the occurrences of each landing outcome
landing_counts = filtered_data['landing_outcomes'].value_counts()

# Display the results in descending order
landing_counts = landing_counts.sort_values(ascending=False)
print(landing_counts)

KeyError: 'landing_outcomes'

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>